$Dark-Grayish-Magenta: hsl(303, 10%, 53%);
$Light-Grayish-Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);
$Very-Dark-Magenta: hsl(300, 43%, 22%);
$Soft-Pink: hsl(333, 80%, 67%);

$Font-size: 15px;

$weight-sm:400;
$weight-md:500;
$weight-lg:700;